@charset "utf-8";
/* 
* @Author: samphay@163.com
* @Date:   2015-01-27 10:12:05
* @Last Modified by:   星辉
* @Last Modified time: 2015-04-21 00:52:49
*/

/************************公共部分****************************/
*{
	padding:0;
	margin:0;
	font-family: "微软雅黑","STHeitiTC-Medium",Helvetica;
	-webkit-text-size-adjust:none; 
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-touch-callout:none;
    -webkit-user-select: none;
}


*:hover{
	-webkit-text-size-adjust:none; 
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

body{
    min-width: 320px;
    margin: 0 auto;
}

*:focus{
	outline: none;
}

.m{
	transition:all 0.2s;
	transition-timing-function:ease-out;
	-webkit-transition:all 0.2s;
	-webkit-transition-timing-function:ease-out;
}

.m2{
    transition:all 0.4s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.4s;
    -webkit-transition-timing-function:ease-out;
}

.m3{
    transition:all 0.6s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.6s;
    -webkit-transition-timing-function:ease-out;
}

.m4{
    transition:all 0.8s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.8s;
    -webkit-transition-timing-function:ease-out;
}

.m5{
    transition:all 1s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 1s;
    -webkit-transition-timing-function:ease-out;
}

.m10{
    transition:all 2s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 2s;
    -webkit-transition-timing-function:ease-out;
}

::selection{
	background-color: rgb(218,91,34);
	color:#fff;
}
::-moz-selection{
	background-color: rgb(218,91,34);
	color:#fff;
}


a:link {
    text-decoration: none;
    color: inherit;
}


a:visited {
    text-decoration: none;
    color: inherit;
}


a:hover {
    text-decoration: none;
   	color: inherit;
}


a:active {
    text-decoration: none;
    color: inherit;
}
/**********************************************************/

@font-face {
    font-family: "mvboli";
    src: url(font/mvboli.ttf);
}

/*********************布局*********************************/
.myul{
    display: flex;
    display: -webkit-box;
}


.myli{
    -webkit-box-flex: 1;    
    flex:1;
}

.fixBg{
	background-image:url(../img/logo-bg.jpg);
	background-position:50%;
	background-size:cover;
	background-repeat:no-repeat;
}

.appBg{
    background-image:url(../img/bg2.png);
    /*background-position:50%;*/
    /*background-size:cover;*/
    background-repeat:no-repeat;
    /*height: 100%;*/
}


.fixTop{
	position: fixed;
	top: 0;
	left: 0;
}


.fixBottom{
	position: fixed;
	bottom: 0;
	left: 0;	
}

.setMiddle{
	margin:0 auto;
}


.setRight{
	position: absolute;
	right: 0;
}


.setLeft{
	position: absolute;
	left: 0;
}


.setBottom{
	position: absolute;
	bottom: 0;
}


.floatLeft{
	float: left;
}


.floatRight{
	float: right;
}


.clearBoth{
	clear: both;
}


.clearRight{
	clear: right;
}


.clearLeft{
	clear: left;
}


.overFloatHidden{
	overflow: hidden;
}


.hide{
	display: none;
}

.opacity0{
    opacity: 0;
}

.opacity1{
    opacity: 1;
}
/*********************************************************/

/*********************Filter******************************/
.RMB:before{
	content: "￥";
}


.DOLLAR:before{
	content: "$";
}


.PERSENT:after{
	content: "%";
}


.OK:after{
	content: "√";
}


.NOTOK:after{
	content: "×";
}

.arrowLeft {
    width: 14px;
    height: 14px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrowRight {
    width: 14px;
    height: 14px;
    border-right: 1px solid;
    border-top: 1px solid;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*********************************************************/

/*********************边角********************************/
.circle{
	border-radius: 50%;
	-webkit-border-radius:50%;
}


.border-2{
	border-radius: 2px;
	-webkit-border-radius:2px;
}


.border-4{
	border-radius: 4px;
	-webkit-border-radius:4px;
}


.border-6{
	border-radius: 6px;
	-webkit-border-radius:6px;
}


.border-8{
	border-radius: 8px;
	-webkit-border-radius:8px;
}


.border-10{
	border-radius: 10px;
	-webkit-border-radius:10px;
}


.border-12{
	border-radius: 12px;
	-webkit-border-radius:12px;
}


.border-14{
	border-radius: 14px;
	-webkit-border-radius:14px;
}


.border-16{
	border-radius: 16px;
	-webkit-border-radius:16px;
}


.border-18{
	border-radius: 18px;
	-webkit-border-radius:18px;
}


.border-20{
	border-radius: 20px;
	-webkit-border-radius:20px;
}


.border-22{
	border-radius: 22px;
	-webkit-border-radius:22px;
}


.border-24{
	border-radius: 24px;
	-webkit-border-radius:24px;
}


.border-26{
	border-radius: 26px;
	-webkit-border-radius:26px;
}
/*********************************************************/


/*********************文字********************************/
.title {
    width: 100%;
    position: relative;
}


.smallTitle {
    margin: 6% 0 4% 0;
}


.p{
	text-indent: 2em;
	line-height: 24px;
}

.textMiddle{
	text-align: center;
}

.noWrap{
    white-space: nowrap;
}

.bold{
	font-weight: 600;
}

.f10{
    font-size: 10px;
}

.f12{
	font-size: 12px;
}


.f14{
	font-size: 14px;
}


.f16{
	font-size: 16px;
}


.f18{
	font-size: 18px;
}


.f20{
	font-size: 20px;
}


.f22{
	font-size: 22px;
}
/*********************************************************/
