body{
    width: 100%;
    height: 100%;
    background: rgb(73, 99, 145);
    overflow: hidden;
}

.bg {
    background-image: -moz-linear-gradient( 90deg, rgb(70,117,177) 0%, rgb(78,74,101) 100%);
    background-image: -webkit-linear-gradient( bottom, rgb(70,117,177), rgb(78,74,101));
    background-image: -ms-linear-gradient( 90deg, rgb(70,117,177) 0%, rgb(78,74,101) 100%);
    background-size: contain;
    background-position: 50%;
    width: 100%;
    /*height: 667px;*/
}

/*时钟*/
.timeBox {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    height: 48px;
    background-color: rgb(77, 79, 110);
}

.timeBox .wrap {
    border-bottom: 1px solid rgba(255,255,255,.1);
    width: 60%;
    margin: 0 auto;
    height: 52px;
    background-color: rgb(77, 79, 110);
    position: relative;
}

.timeBox .wrap:before{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-left: 1px solid rgba(255,255,255,.1);
    top: 45px;
    left: -3px;
    background-color: rgb(77, 79, 110);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 0;
}

.timeBox .wrap:after{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-right: 1px solid rgba(255,255,255,.1);
    top: 45px;
    right: -3px;
    background-color: rgb(77, 79, 110);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 0;
}

.timeBox .time {
    width: 100%;
    border: 1px solid rgba(255,255,255,.4);
    height: 46px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top: none;
    position: relative;
    z-index: 1;
    /*text*/
    color: #ffee16;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
}

.timeBox .time .icon-time{
    margin-right: 6px;
}

.timeBox .time .point{
    opacity: 1;
}

.timeBox .time .point.on{
    opacity: 0;
}


/*用户卡片*/
.userCardBox{
    width: 100%;
    height: 102px;
    position: relative;
}
.userCard{
    width: 94%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0);
    background-color: rgba(255,255,255,.1);
    margin: 16px auto 0;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    background-image: -moz-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);
    box-shadow: 0px 1px 3px 0px rgba( 0, 0, 0 ,.2);
    z-index: 1;
    position: relative;
}

.userCardLightShadow{
    position: absolute;
    left: -1px;
    top: -15px;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0);
    background-color: rgba(0,0,0,.1);
    margin: 16px auto 0;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    /*background-image: -moz-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(170,170,170,.1) 0%, rgba(238,238,238,.1) 17%, rgba(255,255,255,.1) 100%);*/
    z-index: 0;
    box-shadow: 0 -2px 0 rgba(255,255,255,.2);
}

/*用户头像*/
.userCard .userWrap {
    width: 78px;
    height: 78px;
    position: absolute;
    left: 10px;
    top: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    border: 3px solid rgba(255, 255, 255, 0.58);
}

.userCard .userWrapLightShadow {
    width: 78px;
    height: 78px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.userCard .userWrap .userLogo {
    width: 78px;
    height: 78px;
    position: relative;
    margin: 0 auto;
    top: 0;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.2);
    z-index: 1;
    overflow: hidden;
}

.userCard .userWrap .userLogoLightShadow {
    width: 84px;
    height: 84px;
    background-color: rgba(126, 199, 62, 0);
    position: absolute;
    top: -3px;
    left: -3px;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.userCard .userLogo img{
    width: 100%;
    opacity: 0.8;
}

/*用户名及天气*/
.userCard .userNameWeather {
    width: 38%;
    height: 50px;
    /*border: 1px solid;*/
    position: absolute;
    top: 24px;
    left: 104px;
}

.userCardBox .userCard .userName {
    color: rgba(255,255,255,.8);
}

.userCard .userNameWeather .dateWeather {
    margin: 8px 0 0;
    color: rgba(255,255,255,.8);
}

.userCard .userNameWeather .dateWeather .weather{
    display: block;
    white-space: nowrap;
    margin: 8px 0 0!important;
    position: relative;
}

.userCard .userNameWeather .dateWeather .weather,
.userCard .userNameWeather .dateWeather .weather .text {
    margin: 0 0 0 4px;
}
.userCard .userNameWeather .dateWeather .weather img{
    width: 12px;
    position: relative;
    top: 2px;
    right: 40px;
}

header .locateNav.myul {
    /* border: 1px solid; */
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

header .locateNav.myul .myli:first-child {
    border-right: 1px solid rgba(255,255,255,.1);
}

header .locateNav.myul .myli {
    padding: 16px 0 0;
    color: rgba(255,255,255,.6);
}

header .locateNav.myul .myli .time {
    color: rgba(255,255,255,.8);
}

header .locateNav.myul .myli .text {
    color: rgba(255,255,255,.4);
}

header .locateNav.myul .myli .text.location {
    color: rgba(255,255,255,.6);
    margin: 6px 0 0;
}

/* 打卡圆 */
.userCard .circleWrap {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    right: 14px;
    top: 14px;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.2);
    z-index: 3;
}

.userCard .circleWrapLightShadow {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(255,255,255,.1);
}

.userCard .circleWrap .checkIn {
    width: 56px;
    height: 56px;
    background-color: #7ec73e;
    position: relative;
    margin: 0 auto;
    top: 7px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    background-image: -moz-linear-gradient( 90deg, rgba(88,92,102,.2) 0%, rgba(234,234,235,.2) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(88,92,102,.2) 0%, rgba(234,234,235,.2) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(88,92,102,.2) 0%, rgba(234,234,235,.2) 100%);
    text-align: center;
    line-height: 56px;
    font-weight: 600;
    color: rgba(255,255,255,.8);
    text-shadow: 0 0 2px rgba(0,0,0,.4);
    font-size: 18px;
    overflow: hidden;
}

.userCard .circleWrap .checkInLightShadow {
    width: 56px;
    height: 56px;
    background-color: rgba(126, 199, 62, 0);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 2px 2px 0 rgba(255,255,255,.4);
}

.userCard .circleWrap.on .checkIn {
    background-color: rgba(108, 161, 61, 1);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    background-image: -webkit-linear-gradient( botton, rgba(88,92,102,.2) 0%, rgba(234,234,235,.2) 100%);
}

.userCard .circleWrap.on .checkInLightShadow {
    background: none;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
}

.userCard .circleWrap.on {
    /* background-color: rgba(99, 102, 125, 0); */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.2); */
}

.userCard .circleWrap.on .circleWrapLightShadow {
    /* box-shadow: inset 0 2px 2px 0 rgba(255,255,255,.1); */
}

/*表格*/
.content {
    width: 100%;
    position: relative;
    height: 620px;
    overflow: hidden;
}

.content .header {
    width: 100%;
    position: relative;
    top: 1px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    height: 32px;
    line-height: 32px;
    background-color: rgba(0,0,0,.1);
    color:rgba(0,0,0,.6)
}

.col1 {
    width: 30%;
}

.col2 {
    width: 34%;
}

.col3{
    width: 39%;
}

.col.col2 {
    border-left: 1px solid rgba(255,255,255,.1);
}

.content .box {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    overflow: hidden;
    /* border-bottom:1px solid ;
     height: 180px;*/}

.content .box .scroll{
    width: 100%;
    /*position: absolute;*/
}

.box .item {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    height: 94px;
    line-height: 94px;
    color: #fff;
}

.box .item:first-child{
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.box .item .userLogo {
    width: 46px;
    height: 46px;
    overflow: hidden;
    /* border: 1px solid; */
    line-height: normal;
    margin: 6px auto 0;
    position: relative;
}

.box .item .userLogo img,
.checkIn img{
    width: 100%;
}

.box .item .userWrap {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    top: 8px;
    line-height: normal;
}

.box .item .col.col1 {
    line-height: normal;
}

.box .item .col.col1 .text{
    color: rgba(255,255,255,.6);
    position: relative;
    top: -2px;

}

.box .item .userWrap .num {
    background-color: #f99e1c;
    text-align: center;
    height: 14px;
    line-height: 16px;
    padding: 1px 5px;
    font-size: 10px;
    position: absolute;
    bottom: 14px;
    right: 10px;
}


/*打卡器*/
#checkIner{
    background-color: #fff;
    position: fixed;
    bottom: -400px;
    left: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.2);

}

#checkIner .title{
    margin: 32px 0 0;
    color: rgba(0,0,0,.6);
}

#checkIner .printBox{
    width: 35%;
    height: 35%;
    position: relative;
    margin: 32px auto;
    /*-webkit-touch-callout:none;*/
    background-image: url("../img/printer.png");
}

#checkIner .printBox .printer{
    width: 90%;
    border-top: 1px solid rgba(255,158,149,.4);
    box-shadow: 0 0 8px rgba(255,158,149,.4);
    height: 0;
    position: absolute;
    top: 0;
    left: 5%;
    display: none;
}

#checkIner .printBox .printer.on{
    display: block;
    -webkit-animation: scaning 0.5s infinite ease-in-out alternate;
    -moz-animation: scaning 0.5s infinite ease-in-out alternate;
    animation: scaning 0.5s infinite ease-in-out alternate;
}

@-webkit-keyframes scaning{
    0% {top:10%}
    100% {top: 90%}
}
@-moz-keyframes scaning{
    0% {top:10%}
    100% {top: 90%}
}
@keyframes scaning{
    0% {top:10%}
    100% {top: 90%}
}

#checkIner .printBox img{
    width: 100%;

}

/*loading*/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
    opacity: 1;
}

/*分页*/
.pageBox {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    /*top: 0;*/
    z-index: 2;
    overflow: hidden;
}

div#recordBox {
    background-color: rgb(247,247,247);
}

.pageBox header.recordHeader {
    position: relative;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid rgb(229,229,229);
}

.pageBox .back {
    width: 24px;
    height: 24px;
    position: absolute;
    border: 1px solid rgb(127,127,127);
    top: 16px;
    left: 14px;
    text-align: center;
    line-height: 24px;
    color: rgb(127,127,127);
}

.recordHeader .searchRecord {
    width: 24px;
    height: 24px;
    position: absolute;
    /* border: 1px solid rgb(127,127,127); */
    top: 16px;
    right: 14px;
    text-align: center;
    line-height: 24px;
    color: rgb(127,127,127);
}

.pageBox .goBackWrap,
.pageBox .searchRecordWrap{
    /*     border: 1px solid red; */
    padding: 30px;
    position: absolute;
    top:0;
}

.pageBox .searchRecordWrap{
    right:0;
}

.pageBox .arrowDown:after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-left: 1px solid;
    position: relative;
    top: 5px;
    margin: 0 auto;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pageBox header.recordHeader .titleBox {
    color: rgb(154,154,167);
    /*vertical-align: sub;*/
}

.pageBox header.recordHeader .titleBox .text {
    font-weight: bolder;
    color: rgb(41,40,67);
    letter-spacing: 1px ;
}

.pageBox header.recordHeader .titleBox .title{
    position: relative;
    bottom: 2px;
    font-weight: lighter;
}


.pageBox .resultBox {
    width: 90%;
    margin: 10px auto 0;
    text-align: center;
    position: relative;
    height: 48px;
}


.pageBox .resultBox .myli {
    position: relative;
    /* border: 1px solid; */
}

.pageBox .resultBox .result {
    width: 34px;
    height: 34px;
    line-height: 34px;
    background-color: #ff0;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 10px;
}

.pageBox .resultBox .text {
    position: absolute;
    top: 14px;
    left: 54px;
    font-size: 14px;
}

.pageBox .resultBox .myli:nth-of-type(3n+1) .result {
    background-color: rgb(251,96,96);
}

.pageBox .resultBox .myli:nth-of-type(3n+1) .text {
    color: rgb(251,96,96);
}

.pageBox .resultBox .myli:nth-of-type(3n+2) .result {
    background-color: rgb(253,189,15);
}

.pageBox .resultBox .myli:nth-of-type(3n+2) .text {
    color: rgb(253,189,15);
}

.pageBox .resultBox .myli:nth-of-type(3n) .result {
    background-color: rgb(96,204,211
    );
}

.pageBox .resultBox .myli:nth-of-type(3n) .text {
    color: rgb(96,204,211
    );
}



#recordBox .recordListBox {
    /*background-color: #eee;*/
    border-top: 1px solid #ddd;
}

#recordBox .recordListBox .header {
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: rgb(173,190,213);
    position: relative;
    top: 1px;
}

#recordBox .recordListBox .header .col:nth-of-type(2n),
#recordBox .recordListBox .item .col:nth-of-type(2n) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#recordBox .recordListBox .wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../img/logo.png);
    background-position: 50% 20px;
    background-size: 48px;
    background-repeat: no-repeat;

}

#recordBox .recordListBox .wrap .scroll{
    background-color: rgb(247,247,247);
    min-height: 100.2%;
}

#recordBox .recordListBox .item:first-child{
    border-top: 1px solid #ddd;
}
#recordBox .recordListBox .item {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ddd;
    color:rgb(147,147,147);
}

/*选择日期*/

.toolBox {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 158px;
    bottom: 0;
    /*border-top: 1px solid rgb(209, 209, 209);*/
    box-shadow: 0 -2px 4px rgba(0,0,0,.1);
    padding: 0 0 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
}


.toolBox .selectDateBox {
    height: 86px;
    position: relative;
    /*border-bottom: 1px solid;*/
    margin: 6px 0;
}

.toolBox .Date {
    width: 100%;
    height: 86px;
    position: relative;
}

.toolBox .Date .wrap {
    width: 54px;
    height: 54px;
    border: 1px solid #c4deff;
    position: absolute;
    top: 16px;
    line-height: 54px;
    font-size: 16px;
    color: #fff;
}

.toolBox .Date .wrap .text {
    background-color: #509cff;
    width: 52px;
    height: 52px;
    position: relative;
    left: 1px;
    top: 1px;
    display: block;
}

.toolBox .Date .dateSelected {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    top: 40px;
    color: rgb(200,200,200);
    width: 100px;
}

.toolBox .start.Date {
}

.toolBox .Date.start .wrap {
    left: 12px;
}

.toolBox .start.Date .dateSelected {
    left: 76px;
}

.toolBox .end.Date .wrap {
    right: 12px;
}

.toolBox .Date.end .dateSelected {
    right: 74px;
}

.toolBox .Date .dateSelected input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: 14px;
    color : rgb(159,159,159);
}

.toolBox .Date .dateSelected input::-webkit-input-placeholder{
    color:rgb(200,200,200);
    font-size: 10px;
}

input#endDate {
    text-align: right;
}

.toolBox .changeRangeBox {
    text-align: center;
    width: 94%;
    margin: 0 auto;
    border: 1px solid rgb(180,180,180);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    color: rgb(81,81,81);
}

.toolBox .changeRangeBox .tap.on{
    color:#fff;
    background-color: rgb(96,195,133);}

.toolBox .changeRangeBox .tap:nth-of-type(3n+2) {
    border-right: 1px solid rgb(180,180,180);
    border-left: 1px solid rgb(180,180,180);
}

/*设置*/
#settingBox{
    background-color: rgb(229,229,229);
}

.pageBox .settingPageBox {
    /* padding: 0 16px; */
    position: relative;
    width: 100%;
    height: 80%;
}

.pageBox .settingPageBoxWrap {
    width: 92%;
    background-color: #fff;
    position: absolute;
    height: 80%;
    top: 20px;
    left: 4%;
    padding: 50px 0 0;
}

.pageBox .settingPageBoxWrap:before{
    content:"\e605";
    font-family: "icomoon";
    color:rgb(213,213,213);
    width: 120px;
    height: 30px;
    display: block;
    position: absolute;
    transform:rotate(30deg);
    -webkit-transform: rotate(30deg);
    top: 20px;
    font-size: 30px;
    left: 10px;
}

.pageBox .settingItem {
    width: 86%;
    /* height: 30px; */
    /* line-height: 30px; */
    margin: 16px auto;
    padding: 10px 0;
    /* border: 1px solid; */
    position: relative;
}

.pageBox .settingItem.NEW:after{
    content: "new";
    color: rgb(241,46,46);
    font-size: 10px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    bottom: 10px;
}

.pageBox .settingItem .title {
    color: rgb(81,81,81);
}

.pageBox .settingItem .slideButton {
    width: 58px;
    height: 26px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    position: absolute;
    top: 8px;
    right: 0;
    background-color: rgb(195,195,195);
    overflow: hidden;
}

.pageBox .settingItem .slideButton .slider{
    width: 24px;
    height: 24px;
    position: relative;
    top: 1px;
    background-color: #fff;
    box-shadow: -1px 2px 4px rgba(0,0,0,.3);
    left: 0;
}

.pageBox .settingItem .slideButton .slider img{
    width:12px;
    position:relative;
    top:4px;
    /*left:6px;*/
}
/*
.pageBox .settingItem .slideButton .slider.on {
    box-shadow: none;
    opacity: .8;
}*/

.pageBox .settingItem .slideButton .sliderCheckBg{
    background-color: rgba(255,180,0,0);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    /* opacity: 0; */
    height: 100%;
    position: absolute;
    width: 0;
}

.pageBox .settingItem .slideButton.on .sliderCheckBg {
    width: 100%;
    background-color: rgba(255,180,0,1);
}

.pageBox .settingItem .slideButton.on .slider {
    left: 34px;
}


/*浮动按钮*/
.fMenu {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 22px;
    right: 22px;

}

.fMenu .header {
    width: 48px;
    height: 48px;
    /* line-height: 48px; */
    /*font-size: 40px;*/
    z-index: 3;
    background-color:  #e75fca;
    text-align: center;
    color: #fff;
    transform:rotate(0);
    -webkit-transform:rotate(0);
    position: relative;
}

.fMenu .header .plus:before {
    content: "";
    display: inline-block;
    width: 18px;
    border-top: 2px solid white;
    position:absolute;
    top: 22px;
    left: 16px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition:all 0.4s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.4s;
    -webkit-transition-timing-function:ease-out;
}

.fMenu .header .plus:after {
    content: "";
    display: inline-block;
    width: 18px;
    border-top: 2px solid white;
    position:absolute;
    top: 22px;
    left: 16px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition:all 0.4s;
    transition-timing-function:ease-out;
    /* Safari and Chrome */
    -webkit-transition:all 0.4s;
    -webkit-transition-timing-function:ease-out;
}

.fMenu .header .plus{
    position: absolute;
    top: 1px;
    left: -1px;
}

.fMenu .header .text {
    /* border: 1px solid; */
    /*line-height: 0;*/
    /* font-size: 16px; */
    position: absolute;
    top: 0px;
    left: 0;
    display: none;
    width: 21px;
    height: 21px;
}

.fMenu.on .header .plus:after{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

.fMenu.on .header .plus:before{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

.fMenu .content {
    width: 100%;
    position: absolute;
    height: inherit;
    overflow: visible;
    bottom: 0;
}

.fMenu .content .item {
    width: 48px;
    height: 48px;
    background-color: #e75fca;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    line-height:54px;
    color:#fff;
    display:none;
}


.dateTimeTitle{
    display: inline-block;
    width: 66%;
    height: 38px;
    line-height: 40px;
    position: fixed;
    font-size: 18px;
    text-align: center;
    /* border: 1px solid; */
    margin: 0 auto;
    left: 64px;
    color: rgb(81,81,81);
}